@using LiveScoreUpdateSystem.Common
@using LiveScoreUpdateSystem.Web.Models;
@using LiveScoreUpdateSystem.Data.Models.FootballFixtures.Enums

@model ScoreDetailsViewModel

<div class="container body-content col-md-offset-3">
    <div class="content_in content_in_s content_live_match" style="height: 1978px;">
        <div class="live_match_wrap">
            <input type="hidden" id="team_1" value="12398">
            <input type="hidden" id="team_2" value="8872">
            <input type="hidden" id="match_id" value="1782608">
            <!-- LIVE MATCH START -->
            <div class="live_match">
                <div class="top">
                    <span>@Model.LeagueName</span>
                    @Model.GameDate.Day/@Model.GameDate.Month/@Model.GameDate.Year
                     -
                    @Model.GameDate.Hour:@Model.GameDate.Minute,
                </div>
                <div class="match_content clearfix">
                    <p class="score">@Model.ScoreHomeTeam : @Model.ScoreAwayTeam</p>
                    <p class="time"><span>@Model.Status</span></p>
                    <div class="right">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="img_wrap">
                                        <img src="@Model.HomeTeamLogo">
                                    </td>
                                    <td>
                                        @Model.HomeTeamName
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="clearfix" id="goals_away_live_match"></ul>
                    </div>
                    <div class="left">
                        <table>
                            <tbody>
                                <tr class="">
                                    <td>
                                        @Model.AwayTeamName
                                    </td>
                                    <td class="img_wrap">
                                        <img src="@Model.AwayTeamLogo">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                     
                    </div>
                </div>
            </div>
            <div class="live_match_preview">
            </div>
            <!-- LIVE MATCH END -->
        </div>

        <div class="live_navigation clearfix">
            <div id="akcenti" class="input_inline clearfix right">
                <div class="icheckbox" aria-checked="false" aria-disabled="false"><input type="checkbox" id="livescore_accent" autocomplete="off" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
            </div>

            <ul class="topmenu_list clearfix">
                <li class="current">
                    <a class="btn btn-success col-md-offset-1" href="@(Url.Action<ScoresController>(c => c.AvailableScores()))" id="live">Back to scores</a>
                </li>
            </ul>
        </div>
        <div class="matches_list_wrap">
            <!-- LIVE NEWS START -->
            <section class="live_news_wrap livescore_news_wrap">
                <ul>
                    @foreach (var fixtureEvent in Model.FixtureEvents)
                    {
                        <li data-time="750" id="action_5424779" class="accent">
                            <p>
                                @if (fixtureEvent.FixtureEventType == FixtureEventType.Goal)
                                {
                                    <span>
                                        @(fixtureEvent.InvolvedPlayer.FirstName + " " + fixtureEvent.InvolvedPlayer.LastName) <strong> (@fixtureEvent.EventScore)</strong>
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        @(fixtureEvent.InvolvedPlayer.FirstName + " " + fixtureEvent.InvolvedPlayer.LastName)
                                    </span>
                                }
                                <button data-toggle="popover"
                                        class="btn btn-info btn-xs"
                                        title="Player info">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </button>

                            </p>
                            <div class="popover_content_wrapper" style="display: none">
                                <div class="card">
                                    <img class="popover-image" src="@fixtureEvent.InvolvedPlayer.PictureUrl" alt="John" style="width:100%;height:300px">
                                    <h1>@(fixtureEvent.InvolvedPlayer.FirstName + " " + fixtureEvent.InvolvedPlayer.LastName)</h1>
                                    <p class="title">
                                        <img style="width:30px;height:30px" class="img-thumbnail img-responsive player-country-img" src="@fixtureEvent.InvolvedPlayer.CountryFlagUrl" />
                                        @fixtureEvent.InvolvedPlayer.CountryName
                                    </p>
                                    <p>Position: @fixtureEvent.InvolvedPlayer.PlayerPosition</p>
                                    <p>Age: @fixtureEvent.InvolvedPlayer.Age</p>
                                </div>
                            </div>
                            <span class="time">
                                @fixtureEvent.Minute' <span>
                                    @if (fixtureEvent.FixtureEventType == FixtureEventType.Goal)
                                    {
                                        <img src="~/Content/images/goal-scored-event.png" style="width:40px;height:40px;" />
                                    }
                                    else if (fixtureEvent.FixtureEventType == FixtureEventType.RedCard)
                                    {
                                        <img src="~/Content/images/red-card-event.png" style="width:40px;height:40px;" />
                                    }
                                    else if (fixtureEvent.FixtureEventType == FixtureEventType.YellowCard)
                                    {
                                        <img src="~/Content/images/yellow-card-event.png" style="width:40px;height:40px;" />
                                    }
                                    else if (fixtureEvent.FixtureEventType == FixtureEventType.Penalty)
                                    {
                                        <img src="~/Content/images/penalty-event.png" style="width:40px;height:40px;" />
                                    }
                                </span>
                            </span>
                        </li>
                    }
                </ul>
            </section>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            console.log($('[data-toggle="popover"]').length);
            $('[data-toggle="popover"]').popover({
                html: true,
                container: 'body',
                content: function () {
                    const $button = $(this);
                    return $button.parent().parent().find('.popover_content_wrapper').html();
                },
            });
        });
    </script>
}