@using LiveScoreUpdateSystem.Web.Models;
@using LiveScoreUpdateSystem.Common;
@using LiveScoreUpdateSystem.Web.Areas.LiveUpdater.Controllers;

@model  IEnumerable<IGrouping<string, AvailableScoreViewModel>>

<ul class="matches_list matches_list_fix matches_list_today_fix">
    @foreach (var group in Model)
            {
        <li>
            <div class="icheckbox" aria-checked="false" aria-disabled="false" style="position: relative;">
                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                </ins>
            </div>
            <a class="rating" href="/">
                League standings
            </a>
            <a href="javascript:void(0);" style="cursor: text;color: #777777;">
                <img src="@group.FirstOrDefault().CountryFlagUrl">
                @group.FirstOrDefault().CountryName
            </a> /
            <a href="javascript:void(0);" style="cursor: text;color: #777777;">@group.Key</a>
            <table class="matches_table">
                <tbody>
                    @foreach (var fixture in group)
                    {
                        <tr data-fixture-id="@fixture.Id">
                            <td class="checkbox">
                                @if (Request.IsAuthenticated && Context.User.IsInRole(GlobalConstants.LiveUpdaterRole))
                                {
                                    @(Ajax.ActionLink<UpdateFixtureController>(
                                  "Home",
                                  c => c.Update(fixture.HomeTeamName, fixture.Id),
                                  null,
                                  new AjaxOptions()
                                  {
                                      InsertionMode = InsertionMode.Replace,
                                      UpdateTargetId = "update-container",
                                      HttpMethod = "GET",
                                  },
                                  new { @class = "btn btn-success btn-xs" }))
                                }
                            </td>
                            <td class="time date center">@fixture.FirstHalfStart.Value.ToString("HH:mm")</td>
                            <td class="left">@fixture.HomeTeamName</td>
                            <td class="img_wrap">
                                <div>
                                    <img src="@fixture.HomeTeamLogo">
                                </div>
                            </td>
                            <td id="socket_match_score_1806826" class="center">@fixture.ScoreHomeTeam:@fixture.ScoreAwayTeam</td>
                            <td class="img_wrap">
                                <div>
                                    <img src="@fixture.AwayTeamLogo">
                                </div>
                            </td>
                            <td class="right">@fixture.AwayTeamName</td>
                            <td>
                                @if (Context.User.IsInRole(GlobalConstants.LiveUpdaterRole))
                                {
                                @(Ajax.ActionLink<UpdateFixtureController>(
                                          "Away",
                                          c => c.Update(fixture.AwayTeamName, fixture.Id),
                                          null,
                                          new AjaxOptions()
                                          {
                                              InsertionMode = InsertionMode.Replace,
                                              UpdateTargetId = "update-container",
                                              HttpMethod = "GET",
                                          }
                                          ,
                                          new { @class = "btn btn-primary btn-xs" }))
                                }
                            </td>
                        </tr>

                        @Html.AntiForgeryToken()
                    }
                </tbody>
            </table>
        </li>
    }
</ul>

<div id="update-container">
</div>