@using LiveScoreUpdateSystem.Web.Models;
@using LiveScoreUpdateSystem.Common;
@using LiveScoreUpdateSystem.Web.Areas.LiveUpdater.Controllers;
@using LiveScoreUpdateSystem.Data.Models.FootballFixtures.Enums

@model  IEnumerable<IGrouping<string, AvailableScoreViewModel>>

<ul class="matches_list matches_list_fix matches_list_today_fix col-md-12">
    @foreach (var group in Model)
            {
        <li>
            <div class="icheckbox" aria-checked="false" aria-disabled="false" style="position: relative;">
                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                </ins>
            </div>
            <a class="rating" href="/">
                Manage game time
            </a>
            <a href="javascript:void(0);" style="cursor: text;color: #777777;">
                <img src="@group.FirstOrDefault().CountryFlagUrl">
                @group.FirstOrDefault().CountryName
            </a> /
            <a href="javascript:void(0);" style="cursor: text;color: #777777;">@group.Key</a>
            <table class="matches_table">
                <tbody>
                    @foreach (var fixture in group)
                    {
                        <tr class="fixture @fixture.Id" data-fixture-status="@fixture.Status"
                            data-fixture-first-half-start="@fixture.FirstHalfStart"
                            data-fixture-second-half-start="@fixture.SecondHalfStart"
                            id="@fixture.Id">
                            <td class="checkbox">
                                @if (Request.IsAuthenticated && Context.User.IsInRole(GlobalConstants.LiveUpdaterRole))
                                {
                                    @(Ajax.ActionLink<UpdateFixtureController>(
                                  "Home",
                                  c => c.UpdateFixtureEvent(fixture.HomeTeamName, fixture.Id),
                                  null,
                                  new AjaxOptions()
                                  {
                                      InsertionMode = InsertionMode.Replace,
                                      UpdateTargetId = "update-container",
                                      HttpMethod = "GET",
                                  },
                                  new { @class = "btn btn-success btn-xs  home-score-btn" }))
                                }
                                else
                                {
                                    <button class="btn btn-success btn-xs home-score-btn">Home</button>
                                }
                            </td>
                            <td class="time date center">
                                @if (fixture.Status == FixtureStatus.Pending)
                                {
                                    @fixture.FirstHalfStart.Value.ToString("HH:mm")
                                }
                                else
                                {
                                    <span class="time-container badge text-success">
                                        @fixture.FirstHalfStart.Value.ToString("HH:mm")
                                    </span>
                                }
                            </td>
                            <td class="left">@fixture.HomeTeamName</td>
                            <td class="img_wrap">
                                <div>
                                    <img src="@fixture.HomeTeamLogo">
                                </div>
                            </td>
                            <td id="socket_match_score_1806826" class="center">
                                <span class="@fixture.HomeTeamName">@fixture.ScoreHomeTeam</span>
                                <span class="@fixture.AwayTeamName">@fixture.ScoreAwayTeam</span>
                            </td>
                            <td class="img_wrap">
                                <div>
                                    <img src="@fixture.AwayTeamLogo">
                                </div>
                            </td>
                            <td class="right">@fixture.AwayTeamName</td>
                            <td class="away-live-section">
                                @if (Context.User.IsInRole(GlobalConstants.LiveUpdaterRole))
                                {
                                    @(Ajax.ActionLink<UpdateFixtureController>(
                                          "Away",
                                          c => c.UpdateFixtureEvent(fixture.AwayTeamName, fixture.Id),
                                          null,
                                          new AjaxOptions()
                                          {
                                              InsertionMode = InsertionMode.Replace,
                                              UpdateTargetId = "update-container",
                                              HttpMethod = "GET",
                                          },
                                          new { @class = "btn btn-primary btn-xs" })) 

                                     @(Ajax.ActionLink<UpdateFixtureController>(
                                  "Status",
                                  c => c.UpdateFixtureStatus(fixture.Id),
                                  null,
                                  new AjaxOptions()
                                  {
                                      InsertionMode = InsertionMode.Replace,
                                      UpdateTargetId = "update-container",
                                      HttpMethod = "GET",
                                  },
                                  new { @class = "btn btn-warning btn-xs" }))

                                }
                                else
                                {
                                     <button class="btn btn-primary btn-xs">Away</button>
                                }

                                @(Html.ActionLink<ScoresController>("Details", c => c.ScoreDetails(fixture.Id), null, new { @class = "btn btn-info btn-xs" }))
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </li>
    }
</ul>

<div id="update-container">
</div>