@using LiveScoreUpdateSystem.Web.Models;
@model IEnumerable<ListTeamsViewModel>

<div class="container body-content">
    <br />
    @*<div class="row">
            @using (Html.BeginForm<SubscriptionsController>(c => c.SubscribeForTeamResults(null), FormMethod.Post, null, null))
            {
                <div class="col-md-offset-11">
                    <h3><button class="btn btn-success">Subscribe</button></h3>
                </div>
                <br />

                <div class="form-group">
                    @foreach (var team in Model)
                    {
                        <div class="col-md-3">
                            <h1>@team.Name</h1>
                            <label class="btn btn-success">
                                <img src="@team.LogoUrl" class="img-thumbnail img-responsive img-check logo-img">
                                <input type="checkbox" name="teamName" class="hidden" value="@team.Name" autocomplete="off">
                            </label>
                        </div>
                    }
                </div>
            }
        @*</div**@

    <br />

    @using (Html.BeginForm<SubscriptionsController>(c => c.SubscribeForTeamResults(null), FormMethod.Post, null, null))
    {
       <button class="btn btn-success col-md-offset-11" type="submit">Subscribe</button>
        <br />
       <br />

        <div class="container">
            <div class="row">
                <ul class="thumbnails">
                    @foreach (var team in Model)
                {
                        <div class="col-md-4 team-container">
                            <div class="thumbnail">
                                <img src="@team.LogoUrl" alt="ALT NAME" class="img-responsive" style="height: 200px" />
                                <div class="caption">
                                    <h3>@team.Name</h3>
                                    <p align="center">
                                        <label class="btn btn-primary btn-block">
                                            Mark for subscription
                                            <input type="checkbox" name="teamName" class="hidden img-check" value="@team.Name" autocomplete="off">
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </ul>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function (e) {
            $(".img-check").click(function () {
                const $img = $(this).parent().parent().parent().parent().find('img');
                $img.toggleClass('check');
                // console.log('toggle');
                // $(this).toggleClass("check");
            });
        });

        toastr.info("This will enable you to recieve an email after each game the selected team has player",
            "Select a team by clicking in it's logo and confirm with the subscribe button");
    </script>
}